body{
    margin: 0;
    /* background: linear-gradient(to right, #c33764, #1d2671); */
    padding: 0;
}
.logo{
    width: 20%;

}
.p{
    position: relative;
    top: 10px;
    font-family: cursive;
    font-size: larger;

}

.icon{
    position: relative;
    top: 15px;
}
.clo-3{
    width: 25%;
  
}
.col-9{
width: 75%;

}
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;
}
.nav-item{
    font-size: larger;
    font-family: sans-serif;
}

